.error-message-portfolio {
    font-size: 50px;
    color: red;
    text-align: center;
    padding: 20px;
    display: flex;
        flex-direction: column;
        justify-content: center;
        /* Vertically center the content */
        align-items: center;
        /* Horizontally center the content */
        height: 88vh;
    /* Add more styling as needed */
}
.centered-container {
    display: flex;
    justify-content: center; 
    
}

.portfolio-title{
        margin-top: 30px;
        font-size: 50px;
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
        color: white;
        padding: 5px;
        border-radius: 10px;
    }

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.search-input {
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
}

.repos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 50px;
    justify-content: center;
}
.card-custom {
    
    /* Or any other width, defined in CSS for better control */
    margin: 15px;
    margin-bottom: 30px;
    width: 100%;
    /* Adjust margin to control spacing further */
    
}




@media (max-width: 738px) {
    .repos-container {
        justify-content: center;
        /* Center items on smaller screens */
    }
}