/* Base styling for navbar */
.navbar {
    background-color: #000000;
    /* Dark background for better contrast */
    color: #ffffff;
}

.navbar-toggler {
    border-color: rgb(167, 36, 36);
    border-width: 2px;
    
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Customizes the icon color to white */
}



.navbar-brand {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.navbar-brand:hover {
    color: #ccc;
    /* Lighter color on hover */
    text-decoration: none;
    /* Remove underline on hover */
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* Align items to the end on large screens */
    width: 100%;
}

.nav-link {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    color: #bd1616;
}

.nav-link:hover {
    color: #cccccc;
    /* Lighter grey for hover state */
}

.nav-item {
    display: inline-flex;
    margin-right: 50px;
    /* Space between items */
}

.navbar-collapse {
    justify-content: flex-end;
    /* Keep items on the right */
}

/* Styling for active navigation link */
.active-nav-link {
    color: #2caf53;
    /* Highlight color for active page */
    font-weight: bold;
}

/* Adjustments for mobile screens */
@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
        /* Stack items vertically */
        justify-content: center;
        /* Center items when stacked */
    }

    .nav-item,
    .navbar-nav .button {
        width: 100%;
        /* Full width for better touch targets */
        display: flex;
        justify-content: center;
        /* Center content */
        padding: 10px 0;
        /* Padding for spacing */
    }

    .navbar-collapse {
        text-align: center;
        /* Center the collapsible content */
    }
}