
.centered-container {
    color: white;
    display: flex;
    justify-content: center; 
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.search-input {
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
}

.repos-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    /* Ensures that items are spaced evenly on the main-axis */
    
}


@media (max-width: 600px) {
    .repos-container {
        justify-content: center;
        /* Center items on smaller screens */
    }
}